<tr id="<%= dom_id user %>">
  <td><%= user.id %></td>
  <td><%= user.uuid %></td>
  <td><%= user.name %></td>
  <td><%= user.password %></td>
  <td><%= user.room_uuid %></td>
  <td><%= user.last_logged_in < Date.current.in_time_zone ? user.last_logged_in.to_fs(:default) : user.last_logged_in.to_fs(:today) %></td>
  <td><%= user.created_at < Date.current.in_time_zone ? user.created_at.to_fs(:default) : user.created_at.to_fs(:today) %></td>
  <td><%= user.updated_at < Date.current.in_time_zone ? user.updated_at.to_fs(:default) : user.updated_at.to_fs(:today) %></td>
  <td><%= link_to "Edit this user", edit_api_v1_user_path(@api_v1_user) %></td>
  <td><%= button_to "Destroy this user", @api_v1_user, method: :delete %></td>
</tr>
