<!DOCTYPE html>
<html lang='ja'>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="preload" href="https://code.jquery.com/jquery-3.3.1.slim.min.js" as="script">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'api/v1/users', :media => "all", :type => "module", :defer => true %>
</head>

<body>
<%= yield %>
</body>
</html>
