<tr id="<%= dom_id room %>">
  <td><%= room.id %></td>
  <td><%= room.uuid %></td>
  <td><%= room.name %></td>
  <td><%= room.password %></td>
  <td><%= room.last_logged_in < Date.current.in_time_zone ? room.last_logged_in.to_fs(:default) : room.last_logged_in.to_fs(:today) %></td>
  <td><%= room.created_at < Date.current.in_time_zone ? room.created_at.to_fs(:default) : room.created_at.to_fs(:today) %></td>
  <td><%= room.updated_at < Date.current.in_time_zone ? room.updated_at.to_fs(:default) : room.updated_at.to_fs(:today) %></td>
  <td><%= button_to "Destroy this room", room, method: :delete %></td>
</tr>
